services:
  home_assistant:
    container_name: home-assistant
    image: ghcr.io/home-assistant/home-assistant:stable
    privileged: true
    restart: unless-stopped
    environment:
      - TZ=Asia/Kolkata
    volumes:
      - ${HOME}/.config/homelab/home-assistant:/config
      - /run/dbus:/run/dbus:ro
    network_mode: host

  esphome:
    container_name: esphome
    image: ghcr.io/esphome/esphome
    privileged: true
    restart: always
    volumes:
      - ${HOME}/.config/homelab/esphome:/config
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    
  matter_hub:
    container_name: matter_hub
    image: ghcr.io/t0bst4r/home-assistant-matter-hub:latest
    restart: unless-stopped
    environment:
      - HAMH_HOME_ASSISTANT_URL=http://192.168.68.61:8123/
      - HAMH_HOME_ASSISTANT_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJmYzA4NDllZmNjOGM0Y2EyYTJiZTRhNWJmNTY2OWIyZSIsImlhdCI6MTc2OTA1NTUwNiwiZXhwIjoyMDg0NDE1NTA2fQ.x8pUmiSk33UP_T3_PKB0pdXy2R0RyxM4O-qu52ox9nM
      - HAMH_HTTP_PORT=8482
    volumes:
      - ${HOME}/.config/homelab/matterbridge:/data
    network_mode: host

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token eyJhIjoiZGY1OWM0MjliYTljOWM4MmU5OWE0NTAwMjk5Yzg4YzIiLCJ0IjoiMTEzZTQ4MjYtZDQyZS00MDkzLTlmMDgtNDU3NDdjZTUwZWM3IiwicyI6IllqZGtOVFkyWWprdFpUSTJOeTAwWVRNNUxXRXhaR1l0WmpJMk1qbG1ZVGRoTW1FNCJ9


