addressable_lambda:
  name: "Flames Vertical"
  update_interval: 18ms
  lambda: |-
    #ifdef ARDUINO
      #define RANDOM(max) random(max)
    #else
      #define RANDOM(max) (esp_random() % (max))
    #endif

    const uint8_t Cooling  = 55;
    const uint8_t Sparking = 110;

    static uint8_t *heat = nullptr;
    static size_t heat_size = 0;

    if (heat_size != it.size()) {
      if (heat) free(heat);
      heat_size = it.size();
      heat = (uint8_t*) calloc(heat_size, sizeof(uint8_t));
    }

    // Step 1. Cool down
    for (size_t i = 0; i < heat_size; i++) {
      uint8_t cooldown = RANDOM(((Cooling * 10) / heat_size) + 2);
      heat[i] = (cooldown > heat[i]) ? 0 : heat[i] - cooldown;
    }

    // Step 2. Heat rises
    for (size_t k = heat_size - 1; k >= 2; k--) {
      heat[k] = (heat[k - 1] + heat[k - 2] + heat[k - 2]) / 3;
    }

    // Step 3. Spark at bottom
