esphome:
  name: bed
  friendly_name: "Bed"

esp8266:
  board: nodemcuv2
  restore_from_flash: true

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: WPA2
  power_save_mode: NONE
  ap:
    ssid: "Bed"
    password: "12345678"

logger:
  level: INFO
api:
ota:
  - platform: esphome
captive_portal:
web_server:
e131:
  method: MULTICAST
debug:

# ========== SENSORS ==========

sensor:
  - platform: wifi_signal
    name: "WiFi Signal (dBm)"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: uptime
    name: "Uptime"
    unit_of_measurement: "s"
    entity_category: "diagnostic"

  - platform: debug
    free:
      name: "Heap Free"

text_sensor:
  - platform: wifi_info
    ssid:
      name: "Connected SSID"
      icon: "mdi:wifi"
      entity_category: "diagnostic"

# ========== LIGHTS ==========

light:
  # 1. MASTER PHYSICAL LIGHT
  - platform: neopixelbus
    variant: ws2811
    type: BRG
    pin: GPIO04
    num_leds: 54
    id: strip_light
    name: "Light"
    restore_mode: RESTORE_DEFAULT_OFF
    effects:
      - random:
      - e131:
          universe: 1
          channels: RGB