esphome:
  name: floorlamp_1
  friendly_name: "Floorlamp 1"

esp32:
  board: esp32-c3-devkitm-1
  framework: 
    type: esp-idf

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: NONE
  ap:
    ssid: "Floorlamp 1 AP"
    password: "12345678"

logger:
  level: INFO

api:
ota:
  - platform: esphome
captive_portal:
web_server:
improv_serial:
debug:
e131:

uart:
  id: ld2420_radar
  tx_pin: GPIO7
  rx_pin: GPIO6
  baud_rate: 115200
  parity: NONE
  stop_bits: 1
  
ld2420:

# ========== SENSORS ==========

sensor:
  - platform: wifi_signal
    name: "WiFi Signal (dBm)"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: uptime
    name: "Uptime"
    unit_of_measurement: "s"
    entity_category: "diagnostic"

  - platform: debug
    free:
      name: "Available Heap"

  - platform: ld2420
    moving_distance:
      name : "Moving Distance"
      id: dist_cm

text_sensor:
  - platform: wifi_info
    ssid:
      name: "Connected SSID"
      icon: "mdi:wifi"
      entity_category: "diagnostic"

  - platform: ld2420
    fw_version:
      name: LD2420 Firmware

binary_sensor:
  - platform: ld2420
    has_target:
      name: "Presence"
      id: radar_target

select:
  - platform: ld2420
    operating_mode:
      name: "Operating Mode"

number:
  - platform: ld2420
    presence_timeout:
      name: "Presence Timeout"
    min_gate_distance:
      name: "Min Gate"
    max_gate_distance:
      name: "Max Gate"
    gate_select:
      name: "Gate to Config"
    still_threshold:
      name: "Still Threshold Value"
    move_threshold:
      name: "Move Threshold Value"
      
  - platform: template
    name: "Effect Speed" 
    id: effect_speed
    optimistic: true
    min_value: 0
    max_value: 50
    step: 1
    initial_value: 10
    entity_category: "config"

button:
  - platform: ld2420
    apply_config:
      name: "Apply Config"
    factory_reset:
      name: "Factory Reset"
    revert_config:
      name: "Undo Edits"
  
  - platform: restart
    name: "Restart"
    entity_category: diagnostic

# ========== LIGHTS ==========
light:
  # 1. MASTER PHYSICAL LIGHT
  - platform: esp32_rmt_led_strip
    rgb_order: GRB
    chipset: SK6812
    is_rgbw: true
    pin: GPIO02
    num_leds: 88
    id: strip_light
    name: "Light"
    restore_mode: RESTORE_DEFAULT_OFF
    default_transition_length: 0s
    effects:
      - random
      - !include strip_effects/gradient.yaml
      - !include strip_effects/lightning.yaml
      - !include strip_effects/flames.yaml
          

  # 2. LOGICAL PARTITIONS
  - platform: partition
    name: "Bottom"
    id: light_bot
    segments: 
      - id: strip_light
        from: 0
        to: 28
        
  - platform: partition
    name: "Middle"
    id: light_mid
    segments: 
      - id: strip_light
        from: 29
        to: 57
        
  - platform: partition
    name: "Top"
    id: light_top
    segments: 
      - id: strip_light
        from: 58
        to: 87