esphome:
  name: wardrobe
  friendly_name: "Wardrobe"

esp8266:
  board: nodemcuv2
  restore_from_flash: true
  early_pin_init: false

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: WPA2
  reboot_timeout: 
    minutes: 2
  ap:
    ssid: "Wardrobe"
    password: "12345678"

logger:
  level: INFO

api:

ota:
  - platform: esphome

captive_portal:

web_server:

e131:
  method: MULTICAST
  
debug:

# ========== SENSORS ==========
sensor:
  - platform: wifi_signal
    name: "WiFi Signal (dBm)"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: uptime
    name: "Uptime"
    unit_of_measurement: "s"
    entity_category: "diagnostic"

  - platform: debug
    free:
      name: "Heap Free"


text_sensor:
  - platform: wifi_info
    ssid:
      name: "Connected SSID"
      icon: "mdi:wifi"
      entity_category: "diagnostic"

binary_sensor:
  # Updated Door Sensor Pin (Moved to D5/GPIO14)
  - platform: gpio
    name: "Door"
    device_class: door
    pin:
      number: GPIO14  # D5
      mode: INPUT_PULLUP 

# ========== LIGHT ==========

light:
  # STRIP 1 (Moved to GPIO5 / D1)
  - platform: neopixelbus
    type: GRBW
    variant: sk6812
    pin: GPIO5
    num_leds: 105
    id: top_light
    name: "Top Light"
    restore_mode: RESTORE_DEFAULT_OFF
    default_transition_length: 0s
    effects: &light_effects # Using YAML anchor to copy effects to second strip
      - random:
      - e131:
          universe: 1
          channels: RGB
      

  # STRIP 2 (Added on GPIO4 / D2)
  - platform: neopixelbus
    type: GRBW
    variant: sk6812
    pin: GPIO4
    num_leds: 105 # Adjust this number for the second strip
    id: bottom_light
    name: "Bottom Light"
    restore_mode: RESTORE_DEFAULT_OFF
    default_transition_length: 0s
    effects: *light_effects # Applies same effects as above