esphome:
  name: wardrobe
  friendly_name: "Wardrobe"

esp8266:
  board: nodemcuv2
  restore_from_flash: true

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: NONE
  reboot_timeout: 
    minutes: 2
  ap:
    ssid: "Wardrobe AP"
    password: "12345678"

logger:
  level: WARN
api:
ota:
  - platform: esphome
captive_portal:
web_server:
improv_serial:
debug:

# ========== SENSORS ==========
sensor:
  - platform: wifi_signal
    name: "WiFi Signal (dBm)"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: uptime
    name: "Uptime"
    unit_of_measurement: "s"
    entity_category: "diagnostic"

  - platform: debug
    free:
      name: "Heap Free"
      
text_sensor:
  - platform: wifi_info
    ssid:
      name: "Connected SSID"
      icon: "mdi:wifi"
      entity_category: "diagnostic"

binary_sensor:
  - platform: gpio
    name: "Door"
    device_class: door
    pin:
      number: GPIO4
      mode: INPUT_PULLUP  # This is the "spring" that pulls the state back to Open
    

# ========== LIGHT ==========
number:
  - platform: template
    name: "Effect Speed" 
    id: effect_speed
    optimistic: true
    min_value: 0
    max_value: 50
    step: 1
    initial_value: 10
    entity_category: "config"


light:
  - platform: neopixelbus
    type: GRBW
    variant: sk6812
    pin: GPIO02
    num_leds: 103
    id: strip_light
    name: "Light"
    restore_mode: RESTORE_DEFAULT_OFF
    default_transition_length: 0s
    effects:
      - random
      - !include strip_effects/gradient.yaml
      - !include strip_effects/lightning.yaml

  # 2. LOGICAL PARTITIONS
  - platform: partition
    name: "Bottom"
    id: light_bot
    segments: 
      - id: strip_light
        from: 0
        to: 33
        
  - platform: partition
    name: "Middle"
    id: light_mid
    segments: 
      - id: strip_light
        from: 34
        to: 67
        
  - platform: partition
    name: "Top"
    id: light_top
    segments: 
      - id: strip_light
        from: 68
        to: 102
